@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.sign-up-form input,
.sign-in-form input,
.sign-up-form input[type="password"],
.sign-in-form input[type="password"],
.sign-up-form input[type="text"],
.sign-in-form input[type="text"],
.sign-up-form input,
.sign-in-form input,
.sign-up-form input[type="email"],
.sign-in-form input[type="email"] {
  background: transparent;
  color: #fff;
  border: 2px solid #333333;
   height: 45px;
  margin-bottom: 30px;  
  
}
#sign-in-area,
#sign-up-area {
background: url(/content/img//hero-bg.jpg) fixed;
}
#sign-in-area .title-big,
#sign-up-area .title-big {
  color: #fff;
}
#key-features i {
    color: #fdf5e6;
  margin-bottom: 15px;
}
#key-features h3 {
  margin-top: 0;
  font-size: 28px;
  color: #3498DB;
}
