﻿<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/css-sign/main.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/css/animate.css" />
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/css/font-awesome.css" />
    <link rel="stylesheet" href="/Content/css/jquery.bxslider.css" />
    <link href="/Content/css/overwrite.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/set1.css" />
    <link rel="stylesheet" href="/Content/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/iletisim-css/style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <h3 class="logo"> @Html.ActionLink("Cast Valley", "Index", "Home")</h3>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <div class="menu">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li role="presentation">@Html.ActionLink("Hakkımızda", "Hakkimizda", "Home")</li>
                        <li role="presentation">@Html.ActionLink("İletişim", "Iletisim", "Home")</li>
                        <li role="presentation">@Html.ActionLink("Blog", "Blog", "Home")</li>
                        <li role="presentation">@Html.ActionLink("Giriş Yap-Üye Ol", "Giris", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

   @RenderBody()


    <footer >


        <div class="last-div">
            <div class="container">
                <div class="row">
                    <div class="copyright">
                        © 2014 eNno Multi-purpose theme | <a target="_blank" href="http://bootstraptaste.com">Bootstraptaste</a>
                    </div>
                    <!--
                        All links in the footer should remain intact.
                        Licenseing information is available at: http://bootstraptaste.com/license/
                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=eNno
                    -->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="social-network">
                        <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
                    </ul>
                </div>
            </div>
            <a href="" class="scrollup"><i class="fa fa-chevron-up"></i></a>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/wow.min.js"></script>
    <script src="/Scripts/jquery.easing.1.3.js"></script>
    <script src="/Scripts/jquery.isotope.min.js"></script>
    <script src="/Scripts/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/Scripts/fliplightbox.min.js"></script>
    <script src="/Scripts/functions.js"></script>
    <script type="text/javascript">$('.portfolio').flipLightBox()</script>
</body>
</html>
